html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin: 100px 0;   
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgb(233, 68, 68);
    background-image: linear-gradient(
        115deg,
        rgba(235, 42, 42, 0.8),
        rgba(172, 79, 180, 0.7)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1WgDAK9LsY77qcRuWZPVHiG86TG7rE4fz1Q&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 
h1 {
  
    font-weight: 900px;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
}

h1, p {
    margin-top: 10px;
    margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
} 

button {
    border: none;
}

.container {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.30);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.49);
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }

  .header {
      
      padding: 0 0.625rem;
      margin: 1.875rem 0;
  }

  .text-center {
    text-align: center;
}

  .description {
      font-style: italic;
      font-weight: 200;
      text-shadow: 0 0 0 rgb(0, 0, 0, 0.4);
  }

  .clue {
      margin-left: 0.25rem;
      font-size: 0.9rem;
      font-style: italic;
      color: rgb(0, 0, 0);
  }

form {
  
  
    padding: 0rem 0.625rem;
    border-radius: 0.25rem;
}

@media (min-width: 480px) {
    form {
      padding: 0 2.5rem;
    }
  }

.form-group {
    margin: 0 auto 1.05rem auto;
    padding: 0 0.10rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.2rem;
    padding: 0rem 0.5rem;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}




.form-control:focus {
    border-color: rgb(54, 0, 0);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(54, 0, 0, 0.25);
  }

  .input-radio, .input-checkbox {
      display: inline-block;
      margin-right: 0.625rem;
      min-height: 1.25rem;
      min-width: 1.1rem;
      color: rgb(54, 0, 0);
  }

  .input-textarea {
    min-height: 120px;
    width: 100%;
    margin: auto;
    padding: auto;
    resize: none;
  }

  .input-textarea:focus {
    border-color: rgb(255, 0, 0);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(54, 0, 0, 0.25);
  }

  .submit-button {
    
    display: block;
    width: 50%;
    margin: 50px auto;
    font-size: 20px;
    font-weight: 700;
    padding: 0.75rem;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 25px;
    cursor: pointer;
  }
  